.BlogCard {
  width: 384px;
  height: 444px;
}

.BlogImage {
  width: 384px;
  height: 240px;
}

.BlogContent {
  height: 204px; /* 444 - 240 */
}

.BlogDate {
  color: #6941c6;
  font-size: 14px;
  font-weight: 600;
}

.BlogHeader {
  font-size: 24px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BlogBody {
  color: #667085;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BlogTags {
}

.BlogTag {
}

body.dark .BlogHeader {
  color: #ffffff;
}

body.dark .BlogBody {
  color: #c0c5d0;
}

body.dark .BlogDate {
  color: #6941c6;
}
