.BlogCard {
  width: 592px;
  height: 452px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.BlogImage {
  width: 592px;
  height: 228px;
  object-fit: cover;
}

.BlogContent {
  padding: 16px;
}

.BlogDate {
  color: #6941c6;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.BlogHeader {
  margin-bottom: 8px;
}

.BlogBody {
  color: #667085;
  margin-bottom: 12px;
}

.BlogTags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.BlogTag {
  padding: 4px 10px;
  margin: 0px 6px 6px 0;
  border-radius: 12px;
  font-size: 0.8rem;
  color: #555;
}

@media (max-width: 1366px) {
  .BlogCard {
    width: 770px;
    height: 400px;
  }
  .BlogImage {
    width: 770px;
    height: 228px;
  }
}

@media (max-width: 550px) {
  .BlogCard {
    width: 326px;
    height: 448px;
  }
  .BlogImage {
    width: 326px;
    height: 228px;
  }
}

:global(body.dark) .BlogHeader {
  color: #ffffff;
}

:global(body.dark) .BlogBody {
  color: #c0c5d0;
}

:global(body.dark) .BlogDate {
  color: #6941c6;
}
