.EnormousPageTitle {
  font-size: 244px;
  font-weight: 700;
  margin: 64px 0 48px 0;
  line-height: 1;
  position: relative;
  text-align: center;
}

.EnormousPageTitle::before,
.EnormousPageTitle::after {
  content: "";
  display: block;
  height: 1px; /* Thin line */
  background-color: lightgray;
  margin: 16px 0;
}
.PageContainer {
  max-width: 1216px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  margin: 0 auto;
}

@media (max-width: 1366px) {
  .EnormousPageTitle {
    font-size: 160.8px;
  }
  .PageContainer {
    max-width: 770px;
  }
}

@media (max-width: 550px) {
  .EnormousPageTitle {
    font-size: 72px;
  }
  .PageContainer {
    max-width: 326px;
  }
}
